
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.nav__container {
  width: 100%;
  max-width: 1100px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}




.nav__links li {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.logo {
  width: 40px;
  height: 40px;
  font-size: 30px;
}
.nav__logo--title {
  margin-left:20px;
  font-size: 20px;
  font-weight:900;
}


img {
  width: 100%;
  line-height: 1.5;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap:12px;
}

.nav__link--anchor {
  margin: 0 20px;
  color:#242424;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}
.Beautiful .purple {
  color: purple;
}
.Beautiful {
  width: 40%;
  max-width: 1200px;
}
h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.5;
}
.window {
  width: 60%;
  max-width: 1200px;
}


.mail__button {
  padding: 8px 64px;
  border: 1px solid blue;
  border-radius: 50px;
  color: white;
  margin-right: 12px;
  height: calc(100% - 16px);
  z-index: 10;
  position: relative;
  background-color: blue;
}
.mail__input::placeholder{
  font-size:20px;
}
.mail {
  display: flex;
  max-width: 448px;
  align-items: center;
  border-radius: 50px;
  justify-content: end;
  font-size: 24px;
  font-weight: bold;
  position:relative; 
  color: black; 
  text-decoration: none;
}

input {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding-left:12px;
  position: absolute;
  color: black;
  border-radius: 50px;
  border: 2px solid rgb(229, 231, 235);
}
.email__input {
  height: 68px;
}
.Beautiful {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.p {
  padding: 30px;
}

.logo-strip {
  max-width: 300px;
}

.container {  /* Big container for the whole page */
  border: 1px solid red;
  width: 1040px;
  padding: 80px 0; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.features__row {
  flex-direction: column;
  width: 100%;
}




.features {
  display:flex;
  flex-direction: column;
  align-items: center; /*Centers the text horizontially */
  text-align: center;
}

.features__title {
  max-width: 400px;
  font-size: 16px; 
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 1.5;
} 
.amazing__service {
  font-size: 24px;
  margin-bottom: 10px 0;
}
.section__paragraph {
  max-width: 560px;
  font-size: 16px;
  margin: 0 auto;
  line-height: 1.5;
}
h3 {
  color: black; /* changes the color of Features to black */
  font-size: 10px;
  font-weight: 700;
}
.p {
  font-size: 5px;
}

h2 {
  font-size: 24px; 
  font-weight: 700;
  color: black;
}
.purple {
  color:purple; /* color purple a span in the h2 */

}

.feature-container {
  display: flex; /* Use Flexbox to layout windows */
  width: 100%;
  justify-content: space-around; /* spaces windows evenly */
  flex-wrap: wrap; /*allows wrapping if screen too small */
  gap: 24px; /* allows for a gap between boxes */

}
.feature {
  width: calc(100%/3.5); /*Each box takes up 1/8th of the width */
  display: flex;
  align-items:flex-start;
  gap:16px;
  text-align: left;
  padding: 20px; /*inner spacing */
 /* spacing between windows */
}
.feature__icon {
  width: 24px; /*set a default width for icons */
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  box-sizing:content-box;
}
.feature__title {
  font-size: 20px;
  margin-bottom: 8px;
}