
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.logo {
  width: 40px;
  height: 40px;
}
  
.row {
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  width: 100%;
  line-height: 1.5;
}


.logo {
  margin-right: 40px; /* moves the span text away from the logo.*/
display:flex;
align-items:center;
margin-left: 10px;/* moves the container away from the edge */
}



